binaries/

raw_data/art
raw_data/EmpireDesignData
raw_data/terrain
raw_data/warscape_asset_variation_db

working_data/db
working_data/BattleTerrain
working_data/campaigns
working_data/EditorBrushes
working_data/RigidModels
working_data/terrain
working_data/Terry
working_data/Weather
working_data/rules.bob

retail/
working_data/script/campaign/main_warhammer/mod/mk_lua_mod_log.txt
